nav {
  background-color: #333;
  padding: 10px;
  text-align: center; 
}

nav a {
  color: white;
  padding: 15px;
  display: inline-block; 
  text-decoration: none; 
}

h1 {
  color: #003366; 
  text-align: center;
}

main {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px; 
}

main img {
  width: 150px;
  height: auto;
  border-radius: 10px;
  
  border: 1px solid #ccc;
  padding: 5px;
  box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
  
  display: block;
  margin: 20px auto;
}

p {
  padding: 10px 0; 
  line-height: 1.5; 
}

aside {
  width: 80%;
  margin: 20px auto;
  border: 2px solid #ccc;
  padding: 15px;
  background-color: #f0f8ff;
  color: #333;
  border-radius: 10px;
  text-align: center; 
}

aside img {
  width: 200px;
  height: auto;
  display: block;
  margin: 0 auto 10px;
  border-radius: 8px;
}

footer {
  margin-top: 30px;
  border-top: 2px solid #ccc;
  text-align: center;
  padding: 20px 0; 
  font-size: 0.9em; 
}
